.list-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  padding-bottom: 100px;
}


.listItem-wrap {
  display: flex;
  flex-direction: column;
  
}

img{
  border-radius: 15px;
}